apps/client/js/env.js
node_modules/
apps/client/node_modules/
apps/client/inventory.db
apps/client/.env
.env
.DS_Store
npm-debug.log
yarn-error.log
apps/client/js/env.js
apps/server/dist/


.vscode/
apps/server/logs/
